// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fdfefe;
$color-grey-barelythere: #e5e8e8;
$color-grey-light: #b2babb;
$color-grey-dark: #616a6b;
$color-black: #000000;

// FONT

$default-font-size: 1.6rem; /* 1rem == 10px */

// GRID

$gutter-vertical: 2rem;
$gutter-horizontal: 4rem;