// COLORS

$background-color: #f6f5f3;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #f9f8fd;
$color-grey-dark: #3d3d3f;
$color-black: #000000;

// FONT

$default-font-size: 1.6rem; /* 1rem == 10px */

// GRID

$gutter-vertical: 1rem;
$gutter-horizontal: 4rem;