.card {
    background-color: $color-white;
    width: 60%;
    margin: 0 auto;
    border-bottom: $color-grey-light solid 1px;
    // border-radius: .5rem;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    &__col {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        &--category {
            width: calc((100% - 5 * #{$gutter-horizontal}) / 5);
        }

        &--details {
            width: calc( 3 * ((100% - 5 * #{$gutter-horizontal}) / 5) + 2 * #{$gutter-horizontal});
        }

        &--qty {
            width: calc((100% - 5 * #{$gutter-horizontal}) / 5);
        }
    }

    &__image {
        height: 7.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    &__text {
        text-transform: uppercase;

        &--large {
            font-size: 2.5rem;
        }

        &--medium {
            font-size: 2rem;
        }

        &--small {
            font-size: 1.75rem;
        }

        &--tiny {
            font-size: .75rem;
        }
    }
}

@media only screen and (max-width: 620px) {
    .card {
        &__labels {
            display: none;
        }

        [class*="__col--"] {
            width: 100%;
        }

        & .u-left-text {
            text-align: center;;    
        }

        & .u-hidden {
            visibility: visible;
        }
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 90%;

        &__text {
            &--large {
                font-size: 2rem;
            }
    
            &--medium {
                font-size: 1.5rem;
            }
    
            &--small {
                font-size: 1.25rem;
            }
    
            &--tiny {
                font-size: .75rem;
            }
        }

        &__image {
            height: 5rem;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) and (max-width: 1150px) {
    .card {
        width: 70%;
    }
}